@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
img{
    max-width:100%;
}

body{
    background: #f2f2f2;
    margin:0;
    padding:0;
    font-family: 'poppins';
}
.navbar{
    background: white;
    padding:2em;
    .logo{
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        color: black;
        font-size: 1.2em;
        span{
            color: #007af3;
        }

    }
    .boldy{
        
        font-weight:bold;
        
    }
    a{
        text-decoration:none;
        font-size:1em;
        padding: .1em 1em;

    }
    ul, primary{
        margin:0;

    }
    li.blue a{
        color: #007af3;
        font-weight:bold;
        border: 3px solid #007af3;
        border-radius: 5em;
        margin-top: -.2em;
        &:hover{
            color:white;
            background: #007af3;
        }
    }

    
}
.navbar .container{
    display:grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
}
.navbar nav{
    display:flex;
    justify-content: space-between;
    background: none;
    height:auto;
    position:unset;
    width:100%;

    ul{
        display: flex;
    }
}
.navbar ul a:hover{
    font-weight: bold;
}
a{
    color:#444444;
}
ul{
 list-style: none;
}
section{
    padding: 5em 2em;
}
.main{
    text-align:center;
}
.leftCol{
    .sub{
        font-weight:bold;
        color:gray;
        letter-spacing:.3em;
    }
    h1{
        font-size:2.5em;
        margin-top:.2em;
        line-height:1.3em;
    }
    .trial{
        background:#007af3;
        color:white;
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius:5em;
        display:inline-block;
        margin-right:1em;
    }
    .watch{
        img{
            margin-right: .9 em;
        }
    }
}
.feature {
  background: #20272e;
  color: white;
  font-size: 1.2em;
  position: relative;
  img{
    position:absolute;
    width:350px;
    bottom: -2em; right:0;
  }
}

.feature ul {
  list-style: none;   
  margin: 0;
  padding: 0;
}

.feature li {
  position: relative; 
  padding-left: 2.2rem; 
  margin-bottom: 1em;
}

.feature li::before {
  content: "";
  position: absolute;
  left: 0;          
  top: 0.2em;
  width: 20px;
  height: 20px;
  background-image: url("../source/images/bullet.svg"); 
  background-size: contain;  
  background-repeat: no-repeat; 
}
.testimony{
    background:#007af3;
    color:white;
    li{
        text-align: center;
        background: #006bd6;
        border-radius:1em;
        padding: 2em 1em;
        margin:0 auto 5em;
        width:80%;

    }
    img{
        width:5em;
        height:5em;
        border-radius: 50%;
        margin-top: -5em;
        border: 5px solid #006bd6;
    }
}
.contact{
    font-size: 2em;
}
label{
    display:block;
    font-size:1.2em;
    
}
input,textarea{
    width:100%;
    padding:0.8em;
    margin-bottom: 1em;
    border-radius:0.3em;
    border:1px solid gray;
    box-sizing:border-box;
}
.submit{
    background: #007af3;
    border-radius:0.5em;
    font-weight:bold;
    font-size:1.3em;
    border: none;
    padding:0.8em 2em;
    display: inline-block;
    margin-bottom: 5em;
}
iframe{
    width:100%;
    height:300px;
}
